 .navbar {
     background-color: rgba(0, 0, 0, 0.8);
     backdrop-filter: blur(10px);
     color: white;
     display: flex;
     justify-content: space-between;
     padding: 1em;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 2;
     
     input {
        border-style: none;
        background-color: transparent;
        outline: none;
        border-bottom: 1px solid white;
        width: 300px;
        color: white;
        margin-right: 15px;

        &:focus, 
        &:active {
            border-bottom: 2px solid white;
        }
         
     }
 }